body{
	font-family: sans-serif;
	background-color: orange;
}
#navbar{
	width: 100%;
	background: black;
	overflow: hidden;
	position: fixed;
}
#navbar a{
	float: right;
	margin: auto;
	color: white;
	text-align: center;
	padding: 16px  20px;
	text-decoration: none;
	font-size: 18px;
	transition: background .5s ease,color .5s ease;
}
#navbar a:hover{
	background-color: orange;
	color: black;
}

#navbar a:active{
	background-color: orange;
	color: black;
}
h1{
	font-family: sans-serif;
	font-size: 40px;
    color:white;}
    p{
        font-family: sans-serif;
        font-size: 40px;
        color:pink;
        text-align: center;
    }
    #welcome-section{
        height: 700px;
        width: 100%;
    text-align: center;
    padding-top: 90px;
        align-items: center;
        background-color:orange;}
        #project{
            justify-content: center;
            text-align: center;
            margin-left: 100px;
            margin-bottom: 100px;
            padding: 200px;
            color: purple;
        }
        .project-title{
            margin:auto;
            border:none;
            background-color: black ;
            text-decoration: none;
            padding: 0.5px;
            width: 50px;
            cursor:pointer;
            font-size: 25px;
            margin:20px;
        }